contourpy==1.3.0
cycler==0.12.1
einops==0.8.0
filelock==3.13.1
fonttools==4.53.1
fsspec==2024.2.0
importlib_resources==6.4.5
Jinja2==3.1.3
kiwisolver==1.4.7
MarkupSafe==2.1.5
matplotlib==3.9.2
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.3
opencv-python==4.10.0.84
pillow==10.2.0
pyparsing==3.1.4
pywin32==306
sympy==1.12
torch==2.4.1+cu121
torchaudio==2.4.1+cu121
torchsummary==1.5.1
torchvision==0.19.1+cu121
tqdm==4.66.5